/*.pagination {*/
/*    position: fixed;*/
/*    bottom: 30%;*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
/*    z-index: 999;*/
/*}*/
.current-page {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
}